@import '../../assets/all.scss';

.ChatRoom{
  .border-chat{
    height: 370px;
    border: 3px solid $secondary;
    border-radius: 1rem;
    background-color: $gray-100;
    position: relative;
    .message-bar{
      height: calc(100% - 100px);
      width: 100%;
      overflow-y: scroll;
      > .user{
        color: $primary;
      }
      > .message-item {
        padding-bottom: 10px;

        + * {
          border-top: 1px solid $gray-200;
        }
        > * {
          margin: 0px;
          padding: 0px;
        }
        .name{
          font-size:  20px;
          font-weight: bold;
        }
        .text{
          word-wrap:break-word;
        }
      }
    }
    .input-bar{
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 100px;
      width: 100%;
    }
  }
}

@include media-breakpoint-up(sm) {
  .ChatRoom{
    .border-chat{
      height: 500px;
    }
  }
}
