@import '../../assets/all.scss';

.ChatRoomList{
  .list-group-item-action{
    color: $gray-800;
    > div{
      width: 100%;

      > * {
        margin: 0px;
        padding: 0px;
      }
      > .room-index{

        text-align: left;
      }
      > .room-name{

        text-align: left;
        font-weight: bold;
      }
      > .room-creater{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:3px;

      }
    }
    &:hover{
      background-color: $primary;
      color: white;
    }
  }
}
