@import '../../assets/all.scss';

.ChatRoomList{
  .list-group-item-action{
    color: $gray-800;
    > div{
      > * {
        margin: 0px;
        padding: 0px;
      }
      >p{
        padding-left: 20px;
        border-left: 1px solid $gray-600;
      }
    }
    &:hover{
      background-color: $primary;
      color: white;
    }
  }
}
